<Configuration>
  <Appenders>
    <RollingRandomAccessFile name="rolling-appender"
      fileName="/var/log/jmeter/jmeter.log"
      filePattern="/var/log/jmeter/$${date:yyyy-MM-dd}/jmeter-%d{yyyy-MM-dd-HH-mm-ss}-%i.log.gz"
      append="true">
      <PatternLayout>
        <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="1GB"/>
      </Policies>
      <DefaultRolloverStrategy max="1000"/>
    </RollingRandomAccessFile>
    <Async name="Async">
      <AppenderRef ref="rolling-appender"/>
    </Async>
  </Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Async"/>
    </Root>
  </Loggers>
</Configuration>
